[submodule "CTDataProtos"]
	path = CTDataProtos
	url = ssh://git@git.cingta.com:3022/CTProtos/CTDataProtos.git
[submodule "ResumeCleanProtos"]
	path = ResumeCleanProtos
	url = ssh://git@git.cingta.com:3022/CTProtos/ResumeCleanProtos.git
